@import url('https://fonts.googleapis.com/css?family=Anton');

h1{
  font-family: 'Anton', sans-serif;
  text-align: center;
  background-color: lightgrey;
  margin-bottom: 0;
  font-size: 30px;
}

img {

  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;

}
